@charset "utf-8";
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        ::-webkit-scrollbar {
            display: none;
        }
        img{
            width: 100vw
        }
        a{
            display: block;
            padding: 10px;
            font-size: 18px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            background-color: #1677F1;
            text-align: center;
        }
        a:hover{
            background-color: #0f5bb5;
            text-decoration: underline;
            transform: scale(1.03);
        }